:root {
    --cl-primary: #5C6AFC;
    --cl-pink: #f36a8d;
    --cl-orange: #fa9161;
    --cl-green: #20ca66;

    --font-inter: "Inter", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    --font-family: "Inter", sans-serif;

    --body-color: #79808A;
}

html {
    background: #fff;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

html>/**/body { font-size: 10px; font-size /*\**/: 62.5%\9; }

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd{
    font-size: 160%;
    -webkit-text-size-adjust: none;
    font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    border: solid 1px #999999;
    padding: 16px 20px;
}

::placeholder {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

h2 {
    line-height: 55px;
}

h4 {
    line-height: 32px;
}

a {
    transition: all .3s ease;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--body-color);
}

img {
    vertical-align: middle;
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
}

table {
    width: 100%;
}

p {
    margin-bottom: 15px;
    line-height: 1.625em;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: solid 1px #333;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: none;
    color: var(--body-color);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}



