// @import "tailwindcss";

// Mixins
@import './mixins/basic';
:root {
    --cl-primary: #5c6afc;
    --cl-pink: #f36a8d;
    --cl-orange: #fa9161;
    --cl-green: #20ca66;
    --font-inter: "Inter", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-family: "Inter", sans-serif;
    --body-color: #79808a;
}

html {
    background: #fff;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

html > body {
    font-size: 10px;
    font-size: 62.5% \9;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
    font-size: 160%;
    -webkit-text-size-adjust: none;
    font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    border: solid 1px #999;
    padding: 15px 20px;
}

::placeholder {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
    color: #181c31;
}

h2 {
    line-height: 55px;
}

h4 {
    line-height: 32px;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--body-color);
}

img {
    vertical-align: middle;
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
}

table {
    width: 100%;
}

p {
    margin-bottom: 15px;
    line-height: 1.625em;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: solid 1px #333;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: none;
    color: var(--body-color);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 0;
    height: var(--heightHeader);
    border-bottom: 1px solid #000;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 99;
}

#header h1 {
    font-size: 16px;
    margin: 0;
    display: none;
}

#header .logo a {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.header-act {
    display: flex;
    align-items: center;
}

.menu-list {
    position: relative;
    display: flex;
    column-gap: 25px;
}

.menu-list .menu-tt {
    padding: 10px 0;
    line-height: 1.8;
}

.menu-list p {
    margin-bottom: 0;
}

.menu-list a {
    position: relative;
    display: block;
}

.dropdown {
    position: relative;
}

.sub-menu {
    width: 100%;
    background-color: #fff;
}

.sub-menu a {
    padding: 15px;
}

// Setting for all
.title {
    h3 {
        --min-value: 30;
        --min-screen: 769;
        --max-value: 45;
        --max-screen: 1920;
        --value: max(min(calc((var(--max-value) - var(--min-value)) * ((100vw - var(--min-screen) * 1px) / (var(--max-screen) - var(--min-screen))) + calc(var(--min-value) * 1px)),calc(var(--max-value) * 1px)),calc(var(--min-value) * 1px));
        font-size: var(--value);

        font-weight: 600;
        font-family: var(--font-outfit);
        line-height: max(min(calc(#{55} / #{1920} * 100vw), #{55}px) , #{36}px) !important;
    }
}

h4 {
    --min-value: 20;
    --min-view: 769;
    --max-value: 24;
    --max-view: 1920;
    --value: max(min(calc((var(--max-value) - var(--min-value)) * ((100vw - var(--min-view) * 1px) / (var(--max-view) - var(--min-view))) + calc(var(--min-value) * 1px)), calc(var(--max-value) * 1px)), calc(var(--min-value) * 1px));
    font-size: var(--value) !important;
    
    color: #181c31;
    font-family: var(--font-outfit);
    font-weight: 500;
    margin-bottom: 2px;
}

.btn {
    a {
        width: 100%;
        max-width: 190px;
        padding: 0.625rem 3.25rem;
        margin: 0 auto;
        border-radius: 50px;
        background-color: var(--cl-primary);
        color: #fff;
        text-align: center;
        display: block;
        font-size: 16px;
    }
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 0 8px 70px rgba(0, 0, 0, 0.05);
    max-width: fit-content;
    margin: 0 auto 50px;
    .button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: #666;
        cursor: pointer;
        padding: 5px 24px;
        border-radius: 20px;
        transition: all 0.3s ease;
        &.is-checked {
            background: #4a5cff;
            color: #fff;
        }
    }
}
.swiper-next-prev {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: relative;
    z-index: 1;
    height: 40px;
    > div {
        position: static;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #79808a;
        margin-top: 0;
        &::after {
            display: none;
        }
    }
}
// End setting for all

// Projects
.projects {
    &-wrapper {
        position: relative;
        display: flex;
    }
    &-cnt {
        position: absolute;
        top: 100%;
        left: 20px;
        width: calc(100% - 40px);
        height: 100%;
        padding: 0 20px;
        @include flex-mid;
        flex-direction: column;
        backdrop-filter: blur(8px);
        background-color: rgba($color: #fff, $alpha: .2);
        transition: .3s ease-in-out;
        > p {
            margin-bottom: 16px;
        }
        a {
            background-color: var(--cl-primary);
            border-radius: 50%;
            @include flex-mid;
        }
    }
    &-item {
        overflow: hidden;
        margin-bottom: 30px;
        &:last-child {
            width: 66.666667%;
        }
        &-frame {
            padding: 0 20px;
            position: relative;
            z-index: 1;
            img {
                border-radius: 10px;
            }
        }
    }
}
.projects-sizer,
.projects-item {
  width: 33.333%;
}
// End Projects

// Testimonials
.testimonials {
    padding-bottom: 120px;
    &__cnt {
        width: 1150px;
        max-width: 100%;
        margin: auto;
        .swiper-wrapper {
            margin-bottom: 50px;
        }
    }
    &__item {
        background-color: #fff;
        min-height: 372px;
        padding: 36px 40px 36px 36px;
        display: flex;
        align-items: center;
        gap: 3rem;
        box-shadow: 0 0 #000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0px 8px 70px rgba(0, 0, 0, 0.05);
        border-radius: 0.5rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 50%;
            top: 0;
            right: 0;
            background-color: #4e6bff;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 50%;
            bottom: 0;
            right: 0;
            background-color: #f36a8d;
            z-index: -1;
        }
        &--img {
            flex-shrink: 0;
        }
        &--cnt {
            .desc {
                p {
                    --min-value: 18;
                    --min-view: 769;
                    --max-value: 24;
                    --max-view: 1920;
                    --value: max(min(calc((var(--max-value) - var(--min-value)) * ((100vw - var(--min-view) * 1px) / (var(--max-view) - var(--min-view))) + calc(var(--min-value) * 1px)), calc(var(--max-value) * 1px)), calc(var(--min-value) * 1px));
                    font-size: var(--value);

                    line-height: 2rem;
                    font-weight: 500;
                    font-style: italic;
                    letter-spacing: .02em;
                    margin: 22px 0 40px;
                }
            }
            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                &__frame {
                    &--name {
                        color: #181c31;
                        font-size: 18px;
                        line-height: 1.75rem;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
// End Testimonials

// Counter
.counter {
    background-color: #ecf0f5;
    position: relative;
    z-index: 1;
    min-height: var(--min-height);
    overflow: hidden;
    padding: 90px 0;
    > img {
        position: absolute;
    }
    .shape {
        &1 {
            animation: ud-rotating 30s linear infinite;
            bottom: 3%;
            left: 3%;
        }
        &2 {
            transform: translate(0, 0) rotate(90deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
            top: 6%;
            right: 2%;
        }
        &3 {
            top: 1%;
            left: 35%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        background: url('../images/shape-15.svg') center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
    }
    &__list {
        width: 100%;
        max-width: 1098px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        .num {
            font-size: 50px;
            line-height: 62px;
            color: #181c31;
            font-family: var(--font-outfit);
            font-weight: 700;
            margin-bottom: 2px;
        }
        .ttl {
            font-size: 19px;
            line-height: 35px;
            font-weight: 500;
            color: #79808a;
        }
    }
}
// End Counter

// Clients
.clients {
    padding-top: 120px;
    .container {
        border-bottom: 1px solid #d8e1ed;
    }
    &__cnt {
        width: 100%;
        max-width: 998px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 90px;
    }
    &__item {
        width: 108px;
        &:not(:first-child) {
            a {
                transition: .2s linear;
                opacity: .65;
            }
        }
        h4 {
            a {
                color: #181c31;
                font-family: var(--font-outfit);
            }
        }
    }
}
// End Clients

// Blog
.blog {
    padding: 120px 0;
    &__cnt {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }
    &__item {
        box-shadow: 0 0 #000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0px 8px 70px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: hidden;
        .img {
            position: relative;
            z-index: 1;
            overflow: hidden;
            .readmore {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 100%;
                left: 0;
                @include flex-mid;
                backdrop-filter: blur(8px);
                background-color: rgba(255, 255, 255, 0.2);
                transition: 0.3s ease-in-out;
                a {
                    padding-left: 1.875rem;
                    padding-right: 1.875rem;
                }
            }
            img {
                width: 100%;
            }
        }
        .row1 {
            margin-bottom: 12px;
        }
        h4 {
            a {
                font-weight: 500;
                color: #181c31;
                font-family: var(--font-outfit);
                @include line-clamp(2);
            }
        }
    }
}
// End Blog

// Contact
.contact {
    padding: 120px 0;
    background-color: #f4f7fa;
    position: relative;
    z-index: 1;
    > img {
        position: absolute;
        z-index: -1;
    }
    > .shape {
        &1 {
            top: 5%;
            left: 10%;
        }
        &2 {
            top: 24%;
            right: 20%
        }
        &3 {
            right: 5%;
            bottom: 10%;
        }
        &4 {
            left: 0;
            bottom: 0;
        }
        &5 {
            top: 0;
            right: 0;
        }
    }
    &__cnt {
        width: 1208px;
        max-width: 100%;
        margin: 0 auto;
        gap: 30px;
    }
    &__left {
        box-shadow: 0 0 #000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0px 8px 70px rgba(0, 0, 0, 0.05);
        width: 33.33%;
        border-radius: 10px;
        background-color: #fff;
        padding: 50px;
        position: relative;
        z-index: 1;
        > img {
            position: absolute;
            z-index: -1;
        }
        > .shape {
            &1 {
                top: 20px;
                right: 20px;
            }
            &2 {
                right: 20px;
                bottom: 20px;
            }
        }
        &--social {
            dt {
                margin-bottom: 40px !important;
            }
            dd {
                a {
                    @include flex-mid;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    img {
                        transition: .2s linear;
                    }
                }
            }
        }
        &--info {
            border-bottom: 1px solid #d8e1ed;
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
        dl {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        dt {
            margin-bottom: 7px;
            h4 {
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 0;
            }
        }
        dd {
            line-height: 26px;
            font-family: var(--font-inter);
        }
    }
    &__right {
        background-color: #fff;
        flex-grow: 1;
        border-radius: 10px;
        padding: 56px;
        &--input {
            gap: 40px;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            > div {
                width: 50%;
                label {
                    font-size: 16px;
                    font-family: var(--font-inter);
                    line-height: 26px;
                    margin-bottom: 16px;
                    display: block;
                }
                input {
                    border-radius: 10px;
                    border-color: #d8e1ed;
                    &::placeholder {
                        font-size: 16px;
                    }
                    &:focus {
                        border-color: #4e6bff;
                    }
                }
                textarea {
                    width: 100%;
                    border-color: #d8e1ed;
                    border-radius: 10px;
                    min-height: 154px;
                    padding: 24px;
                    &::placeholder {
                        font-size: 16px;
                    }
                    &:focus {
                        border-color: #4e6bff;
                    }
                }
            }
        }
        &--message {
            width: 100% !important;
        }
        .btn {
            a {
                width: max-content;
                max-width: 100%;
                padding: 0.75rem 1.875rem;
            }
        }
    }
}
// End Contact

// CTA
.cta {
    padding: 80px 0;
    overflow: hidden;
    background: url('../images/shape-16.svg') center bottom no-repeat #4e6bff;
    background-size: 100% 100%;
    &__frame {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
    }
    .title {
        h3 {
            color: #fff;
            line-height: max(min(calc(#{55} / #{1920} * 100vw), #{55}px) , #{36}px);
        }
    }
    .desc {
        margin-bottom: 0;
        * {
            color: #fff;
        }
    }
    .btn {
        flex-shrink: 0;
        a {
            padding: 0.75rem 1.875rem;
            color: #181c31;
            background-color: #fff;
            font-weight: 500;
        }
    }
}
// End CTA


// Footer
footer {
    .container {
        max-width: 1420px;
    }
}

.ft {
    &__cnt {
        padding: 100px 0;
        border-bottom: 1px solid #d8e1ed;
    }
    &__left {
        &--logo {
            > p {
                margin-bottom: 20px;
            }
        }
        .desc {
            margin-bottom: 40px;
        }
    }
    &__right {
        h4 {
            margin-bottom: 36px;
            font-weight: 500;
        }
        &--menu {
            > li {
                font-size: 16px;
                line-height: 26px;
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
            a {
                font-size: 100%;
                color: #79808a;
                .bnr {
                    font-size: 12px;
                    background-color: #20ca66;
                    border-radius: 50px;
                    padding: 2px 12px;
                    color: #fff;
                    margin-left: 10px;
                }
            }
        }
        .subscribe {
            p {
                font-size: 16px;
                margin-bottom: 16px;
            }
            input {
                padding: 0.75rem 1.5rem;
                font-size: 16px;
                border-radius: 50px;
                border-color: #d8e1ed;
                &:focus {
                    border-color: #4e6bff;
                }
            }
            button {
                outline: none;
                border: none;
                position: absolute;
                right: 10px;
                padding: 16px;
            }
        }
        .get_mail {
            position: relative;
            z-index: 1;
        }
    }
    &__copy {
        padding: 30px 0;
    }
}

address {
    color: #79808a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4e6bff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
    transition: .2s linear;
    @include hidden();
    &.show {
        @include visible();
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    &::before {
        content: '';
        position: absolute;
        background: url('../images/arrow-to-top.svg') center no-repeat;
        background-size: cover;
        width: 18px;
        height: 10px;
        @include pos-mid;
        z-index: -1;
    }
}
// End footer

// Animation
@keyframes ud-rotating{

  0%, 100%{
    transform: rotate(360deg);
  }

  50%{
    transform: rotate(0deg);
  }
}


@-moz-document url-prefix() {
}
