.sign_up_button {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    line-height: 26px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: blue;
    border-radius: 9999px;
}

p {
    color: gray;
}




/* Carousel  */
@media (min-width: 1536px) {
  .\32xl\:ud-w-187\.5 {
      width: 46.875rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:ud-h-171\.5 {
      height: 42.875rem;
  }
}

@media (min-width: 768px) {
  .fn {
      display: block;
  }
}

.r {
  top: 0px;
}

.q {
  right: 0px;
}

.h {
  position: absolute;
}

@media (min-width: 1536px) {
  .\32xl\:ud-block {
      display: block;
  }
}

.ua {
  z-index: 1;
}

.-ud-left-\[10\%\] {
  left: -10%;
}

.t {
  top: 40%;
}

.h {
  position: absolute;
}

.va {
  z-index: 10;
}

.u {
  right: 20%;
}

.p {
  bottom: 0px;
}

.w {
  bottom: 10%;
}

.r {
  top: 0px;
}

.q {
  right: 0px;
}




/* Features  */
.feature_1 img {
    background-color: rgb(243 106 141);
    border-radius: 9999px;
    padding: 25px;
}

.feature_2 img {
    background-color: rgb(32 202 102);
    border-radius: 9999px;
    padding: 25px;
}

.feature_3 img {
    background-color: rgb(250 145 97);
    border-radius: 9999px;
    padding: 25px;
}

.Rotate__Animation {
  animation: quayCham 13s linear infinite;
}

@keyframes quayCham {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Why Choose Us  */
@media (min-width: 768px) {
  .jn\/2 {
      width: 50%;
  }
}

@media (min-width: 768px) {
  .gn {
      display: flex
;
  }
}

.gg {
  gap: 2rem;
}

.i {
  position: relative;
}

.x {
  top: 1.25rem;
}

.-ud-left-5 {
  left: -1.25rem;
}

.h {
  position: absolute;
}

.ib {
  margin-bottom: 2rem;
}

.ob {
  margin-top: 1.875rem;
}

.gb {
  margin-bottom: 1.25rem;
}

.bb {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .jn\/2 {
      width: 50%;
  }
}

.hg {
  gap: 1.625rem;
}

.wf {
  align-items: center;
}

.vc {
  display: inline-flex
;
}

.mb {
  margin-top: 2.5rem;
}

.gh {
  --tw-bg-opacity: 1;
  background-color: rgb(78 107 255 / var(--tw-bg-opacity));
}

.rg {
  border-radius: 9999px;
}

.xf {
  justify-content: center;
}

.wf {
  align-items: center;
}

.be {
  width: 3.125rem;
}

.dd {
  height: 3.125rem;
}

.tc {
  display: flex
;
}

.ua {
  z-index: 1;
}

.i {
  position: relative;
}

.vd {
  width: 100%;
}

.yc {
  height: 100%;
}

.vc {
  display: inline-flex
;
}

.-ud-z-1 {
  z-index: -1;
}

.h {
  position: absolute;
}

.kk {
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}



/* Our Team  */
.overlay {
  background-color: rgb(78 107 255);
  position: absolute;
  bottom: 68px;
  left: 0;
  width: 100%;
  height: 15%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.team__member:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}


.overlay__icon {
  transform: translateY(50px);
  transition: all 0.5s;
}

.team__member:hover .overlay__icon {
  transform: translateY(0);
}

/* .overlay__icon:hover a {
  color: rgb(243 106 141);
} */


/* Payment  */
.payment {
  background-color: #f4f7fa;
}

.btnTryForFree {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  line-height: 26px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9999px;
  transition: all 1s;
  background-color: rgb(243 106 141);
}

.btnTryForFree:hover {
  background-color: #4e6bff;
}

.btnTryForFreeGrowthPlan {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  line-height: 26px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9999px;
  transition: all 1s;
  background-color: #4e6bff;
}

.btnTryForFreeGrowthPlan:hover {
  background-color: rgb(243 106 141);
}


.DayFreeTrial, .btnPayment {
  color: black;
}


/* BackToTop  */
.backtotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: rgb(78 107 255);
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  align-items: center;
  display: block;
  color: white;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
  transition: all 1s;
  font-size: 22px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}